* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins;
  font-style: normal;
  /* overflow-x: hidden; */
  width: 100%;
  max-width: 100%;
}

.site-header,
.header-container,
.nav-menu,
.nav-container {
  overflow: visible;
}

/* ===============================
   HEADER (DESKTOP)
================================ */

.site-header {
  position: fixed;
  top: 8px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);

  /* width: 1296px; */
  width: 100%;
  height: 58px;
  /* border-radius: 16px; */

  /* DEFAULT: TRANSPARENT */
  background: transparent;
  box-shadow: none;
  backdrop-filter: none;

  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

/* SCROLL STATE */
.site-header.scrolled {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  box-shadow:
    0 0 0 1px rgba(17, 24, 39, 0.1),
    0 8px 24px rgba(17, 24, 39, 0.08);
}

/* ===============================
   HEADER INNER
================================ */

.header-container {
  width: 100%;
  padding: 0 118px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

/* .xten-logo {
  height: 28px;
} */

.xten-logo img {
  height: auto;
  width: 45%;
}

/* ===============================
   NAV DESKTOP
================================ */

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  /* flex: 1; */
  /* justify-content: center; */
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.solution-navbar,
.pricing-navbar,
.events-navbar,
.resources-navbar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  padding: 12px 12px;
  border-radius: 10px; /* pill shape */
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

.solution-navbar:hover,
.pricing-navbar:hover,
.events-navbar:hover,
.resources-navbar:hover {
  background-color: #f9f9f9;
}

.has-dropdown {
  gap: 6px;
  color: #2b2b2b;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  align-items: center;
}

.has-dropdown:hover {
  color: #3f6ae1;
}

.dropdown {
  position: absolute;
  top: 140%;
  left: 0;
  /* right: 0; */
  transform: none;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.5s ease;
  z-index: 9999;
}

.solution-navbar.has-dropdown:hover .solutions-dropdown,
.resources-navbar.has-dropdown:hover .resources-dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  top: 120%;
}

.solutions-dropdown {
  display: flex;
  padding: 16px 18px;
  gap: 18px;
  min-width: 220px;
}

.solutions-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.solutions-list img {
  height: auto;
  width: 100px;
  transition: transform 0.4s ease;
}

.solutions-list img:hover {
  transform: scale(1.15);
}

.resources-dropdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  padding: 30px 0 30px 30px;
  min-width: 600px;

}

/* vertical dividers */
.resources-dropdown::before,
.resources-dropdown::after {
  content: "";
  position: absolute;
  top: 24px;
  bottom: 24px;
  width: 1px;
  background: #e5e7eb; /* light grey */
}

/* divider after first column */
.resources-dropdown::before {
  left: 33.33%;
}

/* divider after second column */
.resources-dropdown::after {
  left: 66.66%;
}


.resource-col h4 {
  font-size: 18px;
  font-weight: 600;
  color: #2b2b2b;
  margin-bottom: 16px;
}

.resource-col a {
  display: block;
  font-size: 14px;
  color: #2b2b2b;
  margin-bottom: 10px;
  text-decoration: none;
}

.resource-col a:hover {
    /* background-color: #f9f9f9; */
    color: #3f6ae1;
}

/* .nav-menu a {
  gap: 6px;
  color: #2b2b2b;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  align-items: center;
} */

/* .dropdown-icon {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease;
} */

/* .solution-navbar:hover .dropdown-icon,
.pricing-navbar:hover .dropdown-icon,
.events-navbar:hover .dropdown-icon,
.resources-navbar:hover .dropdown-icon {
  transform: rotate(180deg);
} */

/* ===============================
  HEADER ACTIONS
================================ */

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-nav {
  color: #2b2b2b;
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: 450;
  line-height: 24px;
  text-decoration: none;
  align-items: center;
}

.login-nav:hover {
  color: #3f6ae1;
}

/* ===============================
  BUTTONS
================================ */

.btn {
  height: 44px;
  padding: 0 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  border-radius: 12px;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-blue {
  background: #3f6ae1;
  color: #ffffff;

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 0 0 1px #182fa5;
}

.btn-blue:hover {
  background: #3f6ae1;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
