* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #ffe6ea, #fff0f3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: none;
  background: #fff;
  padding: 25px;
  border-radius: 25px;
  width: 90%;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card.active {
  display: block;
}

.gif {
  width: 200px;
  margin-bottom: 15px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  margin-top: 14px;
}

.btn-area {
  position: relative;
  height: 80px;
}

.btn {
  padding: 10px 28px;
  font-size: 17px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: #444;
  color: white;
  position: absolute;
  left: 60%;
}

/* ❤️ Heart zoom + rotate */
.heart {
  position: relative;
  width: 40px;
  height: 40px;
  background: #ff2f5b;
  transform: rotate(-45deg) scale(0.2);
  margin: 10px auto;
  animation: zoomRotate 2s ease-in-out forwards;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ff2f5b;
  border-radius: 50%;
}

.heart::before {
  top: -20px;
  left: 0;
}

.heart::after {
  left: 20px;
  top: 0;
}

@keyframes zoomRotate {
  0% {
    transform: rotate(-45deg) scale(0.2);
  }
  40% {
    transform: rotate(-45deg) scale(1);
  }
  70% {
    transform: rotate(315deg) scale(0.9);
  }
  100% {
    transform: rotate(675deg) scale(0);
  }
}
